</* descendent selectoir*/
div p{
    color: crimson;
    size: 2px;
}
/*child selector*/
div >p{
    color: greenyellow;
}

/*Adjacent sibling selector*/  
div + p{
    color: aqua; /*color will be applied for the paragraph which is next tp div*/

}

/*General sibling selector*/
div ~ p {
    /*color: rgb(250, 10, 46)*//*applied for paragraph outside the div tag*/
color: #e246e2;

}


/*Position property
top,bottom,right,left */
.static {
    position: static;
    left: 100px;
}

.relative{
    top: -240px;
    right: -300px;
    position: relative;
   
}
.absolute{
    left: 600px;
    bottom: 0;
    position: absolute;
    
}
.topleft{
    position: absolute;
    left: 9px;
    color: #e246e2;
}

.imageparent{
    position: relative;
}
.middle{
    position: absolute;
    left: 200px;
    color: #e246e2;
}
.topleft1{
    position: absolute;
    left: 100px;
    color: #e246e2;
}
.topleft2{
    position: absolute;
    left: 9px;
    bottom: 20px;
    color: #e246e2;
}
.topleft3{
    position: absolute;
    left: 9px;
    bottom: 150px;
    color: #e246e2;
}
.topleft4{
position: absolute;
left: 100px;
bottom: 20px;
color: #e246e2;
}
.topleft5{
    position: absolute;
    left: 100px;
    bottom: 150px;
    color: #e246e2;
}
.topleft6{
    position: absolute;
    left: 210px;
    bottom: 150px;
    color: #e246e2;
}
.topleft7{
    position: absolute;
    left: 185px;
    bottom: 20px;
    color: #e246e2;
}
.imagecircle{
    border-radius: 5px;
  
}
body{
    margin: 0;
}
.fixed{
    position: fixed;
    top:0;
    right: 0;
    background-color: aquamarine;
}
.sticky{
    position: sticky;
    top: 0;
    left: 120px;
    background-color: cadetblue;
}
ul{
    list-style-type: none;
   color: black;
   background-color: blanchedalmond;
}
li{
    padding :5px
    margin: 0;
}


/* Color property*/









/*CSS combinators

selector-

1. descendant selector
2. child selector
3. adjacent sibling selector
4. general sibling selector


*/