.box{
    padding: 20px 30px 40px 50px;
    border: 9px solid burlywood;
    background-color: antiquewhite;
}
.box1{

    padding: 30px 40px 50px 60px;
    border: 4px double navy;
    background-color: aqua;
}
.box2{
    padding: 40px 50px 60px 70px;
    border: 8px solid hotpink;
    background-color: honeydew;
}
/*body{
    background-image: url('appu.jpg');
    height: 200px;
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}*/


